<div
  class="modal fade"
  bsModal
  #popup="bs-modal"
  [config]="config"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-static-name"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-static-name" class="modal-title pull-left">
          {{ title }}
        </h4>
        <button
          type="button"
          class="close pull-right"
          area-label="Close"
          (click)="onClosed()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{ message }}</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          area-label="Confirm"
          (click)="onConfirmed()"
        >
          {{ confirmationButtonText }}
        </button>
        <button
          type="button"
          class="btn btn-default"
          area-label="Close"
          (click)="onClosed()"
        >
          {{ closeButtonText }}
        </button>
      </div>
    </div>
  </div>
</div>
