<div class="page-heading-wrapper">
  <h2 class="page-heading mb-0">Search</h2>
  <div class="dropdown userrole-dropdown ms-auto">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <div class="user-icon">
        <img
          src="../../../assets/images/user-icon.svg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div>
        <h6>Welcome user,</h6>
        <span> User role </span>
      </div>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="#"> Log out </a>
      </li>
    </ul>
  </div>
</div>
