<!-- Main Sidebar Container -->

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="sidebar">
    <div class="sidebar-logo">
      <img src="../../../assets/images/logo.png" class="img-fluid" alt="" />
    </div>
    <div class="sidebar-menu">
      <ul>
        <li>
          <a href="#">
            <img
              src="../../../assets/images/dashboard-menu-icon.svg"
              class="img-fluid"
              alt=""
            />
          </a>
        </li>
        <li>
          <a href="#">
            <img
              src="../../../assets/images/connection-menu-icon.svg"
              class="img-fluid"
              alt=""
            />
          </a>
        </li>
        <li class="active">
          <a href="#">
            <img
              src="../../../assets/images/search-menu-icon.svg"
              class="img-fluid"
              alt=""
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
