<div class="main-wrapper">
  <div class="right-wrapper">
    
    <app-user-info></app-user-info>
    <div class="tab-wrapper">
      <div class="tab-inner">
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home-tab-pane"
              type="button"
              role="tab"
              aria-controls="home-tab-pane"
              aria-selected="true"
            >
              Search Existing Connection
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile-tab-pane"
              type="button"
              role="tab"
              aria-controls="profile-tab-pane"
              aria-selected="false"
              tabindex="-1"
            >
              Search City Code
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact-tab-pane"
              type="button"
              role="tab"
              aria-controls="contact-tab-pane"
              aria-selected="false"
              tabindex="-1"
            >
              Search Schedule
            </button>
          </li>
        </ul>
        <a href="#" class="view-search-btn me-auto me-sm-0 ms-sm-auto">
          View saved Search
        </a>
      </div>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade active show"
          id="home-tab-pane"
          role="tabpanel"
          aria-labelledby="home-tab"
          tabindex="0"
        >
          <div class="d-flex flex-column flex-sm-row flex-wrap gap-sm-2">
            <div class="mb-3 custom-control">
              <label for="exampleFormControlInput1" class="form-label">
                Origin City
              </label>
              <div class="custom-select2">
                <select id="single" class="js-states form-control">
                  <option>New York, (NYP)</option>
                  <option>Javascript</option>
                  <option>PHP</option>
                  <option>Visual Basic</option>
                </select>
              </div>
            </div>
            <div class="mb-3 custom-control">
              <label for="exampleFormControlInput1" class="form-label">
                Destination City
              </label>
              <div class="custom-select2">
                <select id="single1" class="js-states form-control">
                  <option>New York, (NYP)</option>
                  <option>Javascript</option>
                  <option>PHP</option>
                  <option>Visual Basic</option>
                </select>
              </div>
            </div>
            <div class="mb-3 custom-control">
              <label for="exampleFormControlInput1" class="form-label">
                Transfer City
              </label>
              <div class="custom-select2">
                <select id="single2" class="js-states form-control">
                  <option>New York, (NYP)</option>
                  <option>Javascript</option>
                  <option>PHP</option>
                  <option>Visual Basic</option>
                </select>
              </div>
            </div>
            <div class="mb-3 custom-control">
              <label for="exampleFormControlInput1" class="form-label">
                Service #
              </label>
              <div class="custom-select2">
                <select id="single3" class="js-states form-control">
                  <option>113131</option>
                  <option>121334</option>
                  <option>121334</option>
                  <option>12133412</option>
                </select>
              </div>
            </div>
            <div class="mb-3 custom-control">
              <label for="exampleFormControlInput1" class="form-label">
                Discontinue Date
              </label>
              <input
                type="date"
                class="form-control"
                placeholder="Enter Date"
              />
            </div>
            <div class="mb-3 custom-control">
              <label for="exampleFormControlInput1" class="form-label">
                Effective Date
              </label>
              <input
                type="date"
                class="form-control"
                placeholder="Enter Date"
              />
            </div>
            <div class="mb-3 custom-control">
              <label for="exampleFormControlInput1" class="form-label">
                Exclusive Connection
              </label>
              <input
                type="date"
                class="form-control"
                placeholder="Enter Date"
              />
            </div>
            <div class="d-flex align-items-end gap-1 mb-3">
              <a href="#" class="black-btn">
                <img src="../../../assets/images/search-btn.svg" class="img-fluid" alt="" />
              </a>
              <a href="#" class="black-btn">
                <img src="../../../assets/images/refersh-btn.svg" class="img-fluid" alt="" />
              </a>
              <a href="#" class="black-btn">
                <img src="../../../assets/images/save-btn.svg" class="img-fluid" alt="" />
              </a>
            </div>
          </div>
          <div class="table-heading">
            <h3>
              Search Result
              <small> Showing 5 results </small>
            </h3>
            <div class="table-filter-btn ms-auto">
              <a href="#">
                <img src="../../../assets/images/delete-icon.svg" class="img-fluid" alt="" />
              </a>
              <a href="#">
                <img src="../../../assets/images/csv-icon.svg" class="img-fluid" alt="" />
              </a>
              <a href="#">
                <img src="../../../assets/images/filter-icon.svg" class="img-fluid" alt="" />
              </a>
            </div>
          </div>
          <div class="custom-table table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                    </div>
                  </th>
                  <th scope="col">Result #</th>
                  <th scope="col">Avg. Trip Duration</th>
                  <th scope="col">Origin City</th>
                  <th scope="col">Destination City</th>
                  <th scope="col">Effective Date</th>
                  <th scope="col">Discontinue Date</th>
                  <th scope="col">Restriction</th>
                  <th scope="col">Train #</th>
                  <th scope="col">Location</th>
                  <th scope="col">Train #</th>
                  <th scope="col">Location</th>
                  <th scope="col">Train #</th>
                  <th scope="col">Location</th>
                  <th scope="col">Train #</th>
                  <th scope="col">Location</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                    </div>
                  </td>
                  <td>1</td>
                  <td>30 mins</td>
                  <td>New York</td>
                  <td>Washington</td>
                  <td>22-11-2024</td>
                  <td>NA</td>
                  <td>R</td>
                  <td>12345</td>
                  <td>Northeast</td>
                  <td>12345</td>
                  <td>Northeast</td>
                  <td>12345</td>
                  <td>Northeast</td>
                  <td>12345</td>
                  <td>Northeast</td>
                </tr>
                <tr>
                  <td scope="row">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value=""
                        id="flexCheckDefault"
                      />
                    </div>
                  </td>
                  <td>1</td>
                  <td>30 mins</td>
                  <td>New York</td>
                  <td>Washington</td>
                  <td>22-11-2024</td>
                  <td>NA</td>
                  <td>R</td>
                  <td>12345</td>
                  <td>Northeast</td>
                  <td>12345</td>
                  <td>Northeast</td>
                  <td>12345</td>
                  <td>Northeast</td>
                  <td>12345</td>
                  <td>Northeast</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pagination-btn-wrapper">
            <div class="pagination-btn-inner">
              <a href="#" class="disable">
                <img
                  src="../../../assets/images/leftarrow-icon.svg"
                  class="img-fluid"
                  alt=""
                />
              </a>
              <a href="#" class="active"> 1 </a>
              <a href="#"> 2 </a>
              <a href="#"> 3 </a>
              <a href="#"> 4 </a>
              <a href="#"> 5 </a>
              <a href="#">
                <img
                  src="../../../assets/images/rightarrow-icon.svg"
                  class="img-fluid"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="profile-tab-pane"
          role="tabpanel"
          aria-labelledby="profile-tab"
          tabindex="0"
        >
          ...2
        </div>
        <div
          class="tab-pane fade"
          id="contact-tab-pane"
          role="tabpanel"
          aria-labelledby="contact-tab"
          tabindex="0"
        >
          ...3
        </div>
      </div>
    </div>
  </div>
</div>
