<!-- <div [class.loader-hidden]="show">
    <div class="loader-overlay">
        <div class="col-md-3">
            <div class="card card-primary">
                <div>
                    <div class="card-tools">
                        <div class="card-body">
                            Please wait
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div *ngIf="isLoading" id="pause" class="d-flex align-items-center justify-content-center">
    <div id="spinner"></div>
</div>