/* You can add global styles to this file, and also import other style files */

@use './assets/css/navstyle.scss' as *;

/* You can add global styles to this file, and also import other style files */
.content-wrapper .app-content.content {
    padding: 0 .5rem;
  }
  
  a + a {
    margin-left: 3px;
  } 
  
  .toast-container {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 999999;
  }
  
  #toast-container > div {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    z-index: 1; /* Add a z-index if needed */
  }
  
  @font-face{
    font-family:"helvetica";
    src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
  }
  
  html {
    height: 100%;
    min-height: 100vh;
  }
  
  body {
    /* height: 100%; */
    min-height: 100vh;
    font-family: 'helvetica';
    background: #E9EBF2;
  }
  
  .main-wrapper {
    display: flex;
    height: 100%;
  }
  
  /* Slide bar css start */
  .sidebar {
    min-height: 100vh;
    /* height: 100%; */
    max-width: 75px;
    width: 100%;
    min-width: 75px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 57px 8px;
    background: #FFFFFF;
    box-shadow: 5px 0px 13px #00000026;
  }
  
  .sidebar .sidebar-menu {
    /* margin: auto 0; */
    padding-top: 12vw;
  }
  
  .sidebar .sidebar-logo {
    max-height: 24px;
  }
  
  .sidebar .sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .sidebar .sidebar-menu ul li a {
    min-width: 40px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: ease 0.5s;
  }
  
  .sidebar .sidebar-menu ul li.active a {
    background: #4BAFEA;
  }
  
  .sidebar .sidebar-menu ul li.active a img {
    filter: brightness(0) invert(1);
  }
  
  .sidebar .sidebar-menu ul li a:hover {
    background: #4bafea30;
  }
  /* Slide bar css end */
  
  /* Right wrapper css start */
  .right-wrapper {
    padding: 40px;
    width: 100%;
    max-width: calc(100% - 75px);
    min-height: 100vh;
  }
  
  .page-heading-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .page-heading {
    font-size: 44px;
    line-height: 54px;
    font-weight: bold;
    color: #0A2646;
  }
  
  .userrole-dropdown .btn {
    background: #4BAFEA;
    border-color: #4BAFEA;
    display: inline-flex;
    align-items: center;
    max-width: 170px;
    min-width: 170px;
    border-radius: 20px;
    padding: 1px 24px 1px 10px;
    gap: 6px;
  }
  
  .userrole-dropdown .btn .user-icon {
    min-width: 26px;
    width: 26px;
    height: 24px;
  }
  
  .userrole-dropdown .btn h6 {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-top: 4px;
  }
  
  .userrole-dropdown .btn span {
    font-size: 12px;
    font-weight: 400;
    display: block;
    text-align: left;
  }
  
  .userrole-dropdown .btn::after {
    position: absolute;
    right: 10px;
    width: 12px;
    height: 12px;
    border: none;
    background-image: url('../src/assets/images/downarrow-icon.svg');
    background-size: contain;
  }
  
  .userrole-dropdown  .btn.show::after {
    background-image: url('../src/assets/images/close-icon.svg');
  }
  
  .userrole-dropdown .dropdown-menu a {
    font-size: 12px;
    border-radius: 5px;
    max-width: 128px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 15px #0000004D;
    border-radius: 5px;
    color: #404040;
    transition: ease 0.5s;
  }
  
  .userrole-dropdown .dropdown-menu {
    padding: 0px;
    border: none;
    background: transparent;
    margin-top: -2px !important;
  }
  
  .userrole-dropdown .dropdown-menu a:hover {
    color: #4baee9;
  }
  
  .tab-wrapper ul.nav li.nav-item .nav-link.active {
    background: #E2ECF7;
  }
  
  .tab-wrapper ul.nav li.nav-item .nav-link {
    background: #fff;
    border-radius: 0px;
    padding: 13px;
    border: none;
    color: #404040;
    font-size: 12px;
    line-height: 14px;
  }
  
  .tab-wrapper ul.nav li.nav-item:first-child .nav-link {
    border-top-left-radius: 5px;
  }
  
  .tab-wrapper ul.nav li.nav-item:last-child .nav-link {
    border-top-right-radius: 5px;
  }
  
  .tab-wrapper ul.nav li.nav-item {
    margin-right: 1px;
  }
  
  .tab-wrapper .tab-content .tab-pane {
    background: #E2ECF7;
    padding: 19px 16px;
  }
  
  .custom-control .form-label {
    font-size: 12px;
    color: #818795;
    margin-bottom: 5px;
  }
  
  .custom-select2 .select2.select2-container--default .select2-selection--single {
    border: 1px solid #707070;
    border-radius: 5px;
    font-size: 12px;
    color: #818795;
    padding: 10px 5px;
    height: auto;
  }
  
  .custom-select2 .select2.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.5;
    color: #818795;
    padding-left: 0;
    padding-right: 4px;
  }
  
  .custom-select2 .select2.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
  }
  
  .custom-select2 .select2.select2-container--default .select2-selection--single .select2-selection__arrow {
    bottom: 0;
    margin: auto;
    top: 0px;
  }
  
  .custom-select2 .select2.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
    font-weight: 900;
  }
  
  .custom-select2 .select2.select2-container--default {
    min-width: 139px;
    max-width: 139px;
  }
  
  .select2-results__option[aria-selected]{
    font-size: 14px;
  }
  
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #4bafea;
  }
  
  .custom-control .form-control {
    border: 1px solid #707070;
    color: #818795;
    box-shadow: none;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 12px;
    min-width: 139px;
  }
  
  .table-heading h3 {
    color: #414245;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 0px;
  }
  
  .table-heading h3 small {
    font-size: 10px;
    font-weight: 500;
  }
  
  .table-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 14px;
  }
  
  .table-filter-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    gap: 20px;
  }
  
  .form-check-input {
    border-color: #707070;
  }
  
  .form-check-input:checked {
    border-color: #4bafea;
    background-color: #4bafea;
  }
  
  .custom-table .table tbody:before{
    content: "-";
    display: block;
    line-height: 2px;
    color: transparent;
  }
  
  .custom-table .table thead tr th {
    background: #696969;
    font-size: 12px;
    line-height: 14px;
    padding: 11px 6px;
    vertical-align: middle;
    color: #FFFFFF;
  }
  
  .custom-table .table thead tr th:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .custom-table .table thead tr th:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .custom-table .table tbody tr td {
    color: #818795;
    font-size: 12px;
    line-height: 14px;
    padding: 11px 6px;
  }
  
  .custom-table .table thead tr th .form-check, .custom-table .table tbody tr td .form-check {
    min-height: 20px;
  }
  
  .custom-table .table tbody tr:first-child td:first-child {
    border-top-left-radius: 5px;
  }
  
  .custom-table .table tbody tr:first-child td:last-child {
    border-top-right-radius: 5px;
  }
  
  .custom-table .table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  
  .custom-table .table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }
  
  .pagination-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pagination-btn-inner a {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-decoration: none;
    color: #0A2646;
    font-weight: bold;
    font-size: 12px;
    transition: ease 0.5s;
  }
  
  .pagination-btn-wrapper .pagination-btn-inner {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px;
    background: #fff;
    gap: 4px;
    border-radius: 5px;
  }
  
  .pagination-btn-inner a img {
    width: 18px;
  }
  
  .pagination-btn-inner a.disable {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .pagination-btn-inner a.active {
    background: #4bafea;
    color: #fff;
  }
  
  .pagination-btn-inner a:hover {
    background: #e9e9e9;
  }
  
  .tab-inner {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  
  .view-search-btn {
    display: inline-block;
    padding: 8px;
    border: 1px solid #818795;
    border-radius: 5px;
    color: #818795;
    background: #fff;;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 2px;
    transition: ease 0.5s;
  }
  
  .view-search-btn:hover {
    color: #0a2646;
    border-color: #0a2646;
  }
  
  .custom-control input[type="date"] {
    position: relative;
    padding: 10px;
  }
  
  .custom-control input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }
  
  .custom-control input[type="date"]:before{
    content: '';
    position:absolute;
    top: 0px;
    bottom: 0px;
    right: 10px;
    margin: auto;
    width: 14px;
    height: 14px;
    background-image: url('../src/assets/images/datepicker-icon.svg');
    background-size:contain;
    background-position: center;
    cursor: pointer;
  }
  
  @media (max-width:991px){
    .page-heading{
        font-size: 34px;
        line-height: 42px;
    }
  }
  
  @media (max-width:767px){
    .page-heading{
        font-size: 28px;
        line-height: 40px;
    }
    .sidebar{
        max-width: 64px;
        min-width: 64px;
    }
    .right-wrapper{
        padding: 16px;
        max-width: calc(100% - 64px);
    }
    .tab-inner{
        flex-direction: column-reverse;
    }
  }
  
  @media (max-width:575px){
    .page-heading-wrapper{
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 10px;
    }
    .custom-select2 .select2.select2-container--default{
        min-width: 100%;
        max-width: 100%;
    }
  }